@tailwind base;
@tailwind components;
@tailwind utilities;

/* https://youtu.be/TrftauE2Vyk?t=304 */

@layer components {
    .btn {
        @apply
            px-2 py-1 border rounded-sm
            bg-gray-200 text-gray-900 border-gray-500
            hover:bg-gray-300
            focus:outline-none
            active:scale-105
            transform
            select-none
    }

    .input {
        @apply 
            px-2 py-1 border rounded-sm text-sm
    }
}
